* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}
.navmenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 2px solid black; */
}
.ulmenu ul {
  display: flex;
  /* padding-top: 20px; */
  /* text-decoration: none; */
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
}
.ulmenu ul li {
  display: flex;
  justify-content: space-around;
  padding: 0px 10px 0px 10px;
}
.ulmenu ul li a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.menu-logo {
  padding: 20px 40px;
}
.menu-logo img {
  height: 40px;
  width: 186px;
}
.navbtn button {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
  color: #000;
}
.navbtn button:hover{
  background-color: aqua;
  color: #888888;
}
.btn button{
  padding: 10px 10px;
  color: #fff;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: black;
}

 .btn button:hover{
  color: #888888;
  background-color: aqua;
 }

.textpic {
  display: flex;
  align-items: center;
  background-color: #f5fcff;
}
.text {
  align-items: center;
  width: 50%;
  padding-left: 110px;
  font-size: 20px;
}
.pic {
  height: 100%;
  width: 50%;
}
.pic img {
  height: 80%;
  position: relative;
  width: 90%;
}
.upper {
  /* border: 2px solid black; */
  padding-left: 60px;
  padding-top: 83px;
  padding-left: 111px;
}
.upper h4 {
  font-size: 20px;
  padding-left: 6px;
}
.upper h1 {
  padding-top: 10px;
  font-size: 40px;
  font-weight: 800;
}
.lower {
  /* border: 2px solid black; */
  height: 240px;
  display: flex;
  padding-left: 90px;
  margin-top: 70px;
  align-items: center;
  justify-content: space-around;
}
.lower1 {
  box-sizing: border-box;
  align-items: center;
  padding: 14px 14px;
  margin: 0px 10px;
  box-shadow: 6px 6px 6px 6px #888888;
  margin-left: 20px;
  background-color: #f5fcff;
  /* border: 2px solid rgb(0, 0, 0); */
}
.lower1 p {
  padding-top: 10px;
}

.lower1 img {
  height: 60px;
  width: 60px;
  padding: 10px 10px;
}
.lower2 {
  box-sizing: border-box;
  align-items: center;
  padding: 14px 14px;
  margin: 0px 10px;
  margin-left: 20px;
  box-shadow: 6px 6px 6px 6px #888888;
  background-color: #f5fcff;
  /* border: 2px solid rgb(0, 0, 0); */
}
.lower2 img {
  height: 60px;
  width: 60px;
  padding: 10px 10px;
}
.lower2 p {
  padding-top: 10px;
}
.lower3 {
  box-sizing: border-box;
  align-items: center;
  margin: 0px 10px;
  padding: 14px 14px;
  margin-left: 20px;
  box-shadow: 6px 6px 6px 6px #888888;
  background-color: #f5fcff;
  /* border: 2px solid rgb(0, 0, 0); */
}
.lower3 img {
  height: 60px;
  width: 60px;
  padding: 10px 10px;
}
.lower3 p {
  padding-top: 10px;
}
.lower4 {
  box-sizing: border-box;
  align-items: center;
  padding: 14px 14px;
  margin: 0px 10px;
  margin-left: 20px;
  box-shadow: 6px 6px 6px 6px #888888;
  background-color: #f5fcff;
  /* border: 2px solid rgb(0, 0, 0); */
}
.lower4 img {
  height: 60px;
  width: 60px;
  padding: 10px 10px;
}
.lower4 p {
  padding-top: 10px;
}
.main {
  display: flex;
  padding-top: 20px;
  padding-left: 100px;
}
.left {
  /* border: 2px solid black; */
  padding-left: 90px;
}
.left img {
  height: 600px;
  width: 500px;
}
.right {
  text-align: center;
  padding-top: 200px;
}
.right h1 {
  padding-right: 60%;
  padding-bottom: 20px;
  font-size: 34px;
}
.right h4 {
  padding-right: 70%;
  padding-bottom: 6px;
}
.right p {
  /* padding-right: 70%; */
  /* padding-bottom: 10px;
    p*/
  padding-left: 60px;
  text-align: start;
  line-height: 25px;
}
.main2 {
  /* display: flex; */
  padding-top: 30px;
}
.upper1 {
  /* border: 2px solid black; */
  padding-left: 90px;
}
.upper1 h1 {
  padding-top: 10px;
  font-size: 30px;
  padding-bottom: 20px;
}

.lower-pt {
  /* padding-left: 20px;
     */
  /* padding-right: 20px; */
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding-left: 90px;
  display: flex;
  padding-top: 40px;

  padding: 14px 14px;
  margin: 0px 10px;
  margin-left: 20px;
}
.lower-pt1 {
  padding-left: 59px;
  box-shadow: 6px 6px 6px 6px #888888;
}
.lower-pt1 img {
  height: 350px;
  width: 400px;
  margin: -23px;
}
.lower-pt1 h1 {
  padding-top: 20px;
}
.lower-pt1 p {
  padding-top: 10px;
  padding-bottom: 20px;
}
.lower-pt1 span {
  padding: 0px;
}
.lower-pt2 {
  box-shadow: 6px 6px 6px 6px #888888;
}
.lower-pt2 img {
  height: 350px;
  margin: -24px 28px;
  width: 400px;
}
.lower-pt2 h1 {
    padding: 23px 67px 0px 85px;
}
.lower-pt2 p {
    padding: 0px 0px 25px 54px;
}
.lower-pt2 span {
  padding: 53px;
}
.lower-pt3 {
  padding-right: 26px;
  box-shadow: 6px 6px 6px 6px #888888;
}
.lower-pt3 img {
  height: 350px;
  width: 400px;
  margin: -22px 23px -22px 29px;
}
.lower-pt3 h1 {
    padding: 23px 67px 0px 85px;
}
.lower-pt3 p {
    padding: 0px 0px 25px 54px;
}
.lower-pt3 span {
  padding: 53px;
}
.main3 {
  background-color: #f5fcff;
}
.customerfeedback {
  padding-top: 70px;
  padding-left: 70px;
}
.customerfeedback h1 {
  padding-top: 10px;
  padding-bottom: 30px;
  text-decoration-color: 3px 3px 3px 3px gray;
}
.customerfeedback h4 {
  padding-top: 30px;
}
.feedback {
  /* border: 2px solid black; */
  padding-top: 30px;
  padding-left: 70px;
  /* box-shadow: 6px 6px 6px 6px #888888; */
  display: flex;
  padding-right: 28px;
}
.feedback1 {
  /* border: 2px solid black; */
  box-shadow: 6px 6px 6px 6px #888888;
  margin: -17px 82px 11px -1px;
}
.feedback1 img {
  height: 21px;
  width: 100px;
}
.button {
  display: flex;
}
.button p {
  padding: 0px 112px;
}
.feedback2 {
  /* border: 2px solid black; */
  box-shadow: 6px 6px 6px 6px #888888;
  margin: -17px 82px 11px -55px;
}
.feedback2 img {
  height: 21px;
  width: 100px;
}
.feedback3 {
  border: 2px solid black;
  box-shadow: 6px 6px 6px 6px #888888;
  margin: -17px 82px 11px -61px;
}
.feedback3 img {
  height: 21px;
  width: 100px;
}
.sectiontitle {
  padding-top: 50px;
  text-align: center;
}
.sectiontitle h4 {
  padding-bottom: 20px;
}
.sectiontitle h1 {
  padding-bottom: 20px;
  font-size: 30px;
}
.form {
  height: 800px;
  width: 80%;
  justify-content: center;
  padding-left: 50px;
  margin-left: 150px;
  border: 2px solid black;
}
.input1 {
  height: 100px;
  margin: 0px 0px 0px -51px;
  border: 3px solid #888888;
}
.name{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputa{
    padding-right: 40%;
  padding-top: 18px;
}
.inputa h4{
    font-size: 24px;
}
.inputa input{
    font-size: 26px;
}
.inputb{
    padding-top: 21px;
}
.inputb h4{
    font-size: 24px;
}
.inputb input{
    font-size: 26px;
}
.input2 {
  height: 100px;
  margin: 0px 0px 0px -51px;
  border: 3px solid #888888;
}
.email{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputc{
    padding-right: 40%;
  padding-top: 18px;
}
.inputc h4{
    font-size: 24px;
}
.inputc input{
    font-size: 26px;
}
.inputd{
    padding-top: 21px;
}
.inputd h4{
    font-size: 24px;
}
.inputd input{
    font-size: 26px;
}
.input3 {
  height: 100px;
  margin: 0px 0px 0px -51px;
  border: 3px solid #888888;
}
.topic{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 80%;
}
.inpute input{
    font-size: 26px;
}
.inpute{
    padding-top: 21px;
    padding-left: 66%;
}
.inpute h4{
    font-size: 24px;
}
.input4 {
  height: 300px;
  margin: 0px 0px 0px -51px;
  /* border: 3px solid #888888; */
}
.checkbox {
  height: 100px;
  margin: 0px 0px 0px -51px;
  border: 3px solid #888888;
}
.content{
    height: 170px;
    /* border-bottom: 5px solid red; */
    margin: 0px 0px 0px -51px;
    background-color: #f5fcff;
    /* border: 3px solid #888888; */
}
.navmenu1{
    display: flex;
    align-items: center;
    margin-top: 36px;
    padding-top: 4%;
    justify-content: space-around;
    /* border: 2px solid black; */
    } 
    .ulmenu1{
      width: 33.3%;
    }
  .ulmenu1 ul {
    display: flex;
    text-decoration: none;
     list-style-type: none;
    align-items: center;
    justify-content: space-around;
  }
  .ulmenu1 ul li {
    display: flex;
    justify-content: space-around;
    padding: 0px 10px 0px 10px;
  }
  .ulmenu1 ul li a {
    font-size: 20px;
    text-decoration: none;
    color: black;
  }
  .menu-logo1 {
    width: 33.3%;
    

  }
  .menu-logo1 img {
    height: 40px;
    margin: 0px 0px 0px 81px;
    width: 186px;
  }
  .icons{
    width: 33.3%;
    display: contents;
  }
.credits{
    height: 170px;
    border-bottom: 5px solid red;
    margin: 0px 0px 0px -51px;
    background-color: #f5fcff;
    border: 3px solid #888888;
}
.navmenu2{
    display: flex;
    align-items: center;
    margin-top: 36px;
    justify-content: space-around;
    /* border: 2px solid black; */
    } 
  .ulmenu2{
    display: flex;
    padding-left: 41%;
  }
  .ulmenu2 h4{
    padding-right: 20px;
  }
  
  